!!! 5
%html
  %head
    %title= "TestApp"
    %script{ :type => "text/javascript", :src => "http://www.google.com/jsapi" }
    %script{ :type => "text/javascript" }
      google.load("jquery", "1.4.2");

    = javascript_include_tag "rails"
    = javascript_include_tag "ichiban"

  %body
    = yield